* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226 236 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 8px;
  color: black;
}

main {
  width: 900px;
  margin: 20px auto 50px auto;
  background-color: white;
}

.hero {
  position: relative;
}

#feature > img {
  width: 900px;
}

figure {
  margin: 0px;
}

.title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  background-color: rgba(199, 199, 199, 0.65);
}

h1 {
  font-size: 60px;
  margin: 0px;
}

.title p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 0px;
}

article {
  padding: 10px 110px;
}

article p {
  line-height: 1.25;
}

#article-figure img {
  width: 300px;
}

#article-figure {
  float: right;
  margin-left: 15px;
}

figcaption {
  font-size: 14px;
}

p.tags {
  padding: 20px 0px;
}

p.tags span {
  font-size: 12px;
  background-color: #4e8098;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  color: #fff;
}

footer {
  text-align: center;
  padding: 10px 0px 20px 0px;
  border-top: 1px solid grey;
}
